<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/da963e3e-3dcc-4804-a491-f72685adc2ca/resourceGroups/iot-watchdog-demo/providers/Microsoft.Web/sites/iot-watchdog-func</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://iot-watchdog-func.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://iot-watchdog-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$iot-watchdog-func</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>